<head>
  <title>More Info</title>
</head>
{%extends "base.html"%}
{%block content%}
	<div id="info">
		<legend></legend>
		<h1>CMU NoteBook</h1>
	  	<p>This website's main purpose is to allow Central Michigan University students to share their notes with each other in an effort to help one another achieve their academic goals, and take some stress off the everday college life.</p>
	</div>
	<legend></legend>
  <div id="more-info-icons">
    <div class="row">
      <div class="col-xs-4">
      	 <div class="thumbnail">
           <h2>Record.</h2>
            <p>Go to class and take notes.</p>  
            <img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Book-icon.png"class="search-icon">
                <div class="caption"></div>
  	     </div>
      </div>
        <div class="col-xs-4">
          <div class="thumbnail">
            <h2>Upload.</h2>
            <p>Share your notes with other students at CMU.</p>
            <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/upload-icon.png"class="search-icon">
            <div class="caption"></div>
          </div>           
        </div>
      <div class="col-xs-4">
          <div class="thumbnail">
              <h2>Search.</h2>
              <p>Search or download notes for any class at any level.</p>  
              <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/zoom-search-2-icon.png" class="search-icon">
              <div class="caption"></div>      
          </div>
      </div>
    </div>
  <div id="home-logo-container">
    <img src="https://bulletins.cmich.edu/images/CMU-wdmk.png"id="cmu-logo">
  </div>
{% endblock%}
